body {
    padding-top: 5rem;
    background-color: aliceblue;
}

header{
    background-color: #58D68D;
}
button {
    background-color: #0093f5; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.form{
    border: white solid;
    border-radius: 5px;
    background-color: white;
}

.form-group{
    display: grid;
    grid-template-columns: auto auto;
}

.Mydiv{
    display: grid;
    grid-template-rows: auto auto;
    padding: 10px;
}

.grid-item{
    width: 300px;
    /* height: 450px; */
    display: flexbox;
    border-color: whitesmoke;
    box-shadow: 8px 5px #D3D3D3; 
    /* border-color: whitesmoke; */
    /* padding: 10px; */
    background-color: white;
    border-radius: 10px;
}

.grid-item2{
    width: 100%;
    min-height: 359px;
    max-height: fit-content;
    /* align-items: center; */
    /* height: 450px; */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 60% auto;
    border-color: whitesmoke;
    box-shadow: 8px 5px #D3D3D3; 
    /* border-color: whitesmoke; */
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.image{
    height: 100%;
}

.grid-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-group2{
    display: inline-flex;
    
    /* grid-template-columns: auto auto;
    text-align: left; */
}

.container1{
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
    grid-gap: 10px;
}

.container{
    width: 70%;
    position: relative;
    
}


.rview{
    background-color: #1E90FF ;
    color: white;
    text-align: center;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.info{
    padding: 10px;
}

.price{
    background-color: #00BFFF;
    color: white;
    border: solid #00BFFF;
    border-radius: 15px;
    width: 100px;
    text-align: center;
    margin-right: 6px;
}

.type{
    background-color: #ffc800;
    color: white;
    border: solid #ffc800;
    border-radius: 15px;
    width: 100px;
    text-align: center;
}

.location{
    color: grey;
    margin-right: 6px;
}

.property{
    align-items: center;
}