{% extends "base.html" %}

{% block main %}

{% include 'flash_messages.html' %}
<div class="container1">


<div class="">
	<div class="grid-item">
		<img src="{{ url_for('get_image', filename=property.photo)}}" style="width:100%; height:150px;"/>
		<h4>{{ property.description}}</h4>
		<p class="box-text"><span class="">{{ property.location }}</span></p>
		<p class="box-text"><span class="">${{ property.price }}</span></p>
		<a href=""><input type="button" class="btn" value="Email Realtor"/></a>
	</div>
</div>
</div>

{% endblock %}